{% extends 'blog/base.html' %}
{% load bootstrap4 %}
{% block content %}

    <main>
        <div class="container">
            <h3>Add new Topic</h3>
            <form action="{% url 'blog:new_topic' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button name="submit" class="btn btn-primary">Add topic</button>
                {% endbuttons %}
            </form>
        </div>
    </main>

{% endblock content %}