{% extends 'blog/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <main>
        <div class="container">
          <form method="post" action="{% url 'users:register' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-primary">Register</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'blog:index' %}" />
          </form>
        </div>
    </main>
{% endblock content %}
